<div style="">
    <div fxLayout="row wrap">
        <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">

            <div fxLayout="row wrap" class="_pic-styles-1">
                <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <div fxLayout="row wrap" class="_pic-styles-3">

                        <ng-container *ngIf="detailsLoading">
                            <img src="assets/pokeball_gif.gif" style="max-width: 80px;
                padding-top: 50px;
                padding-right: 25px;">
                        </ng-container>

                        <ng-container *ngIf="!detailsLoading">

                            <img *ngIf="!detailsLoading" [src]="pokemon?.sprites.thumbnail" class="_pic-styles-4">

                        </ng-container>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap" style="height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 70px;
            padding-right: 32px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            color: white;
            ">
                <div *ngIf="pokemon?.order > 0 && pokemon?.order <= 9"> #00{{pokemon?.order}}</div>
                <div *ngIf="pokemon?.order >= 10 && pokemon?.order <= 99"> #0{{pokemon?.order}}</div>
                <div *ngIf="pokemon?.order >= 100"> #{{pokemon?.order}}</div>

            </div>

        </div>

        <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%" style="display: flex;     
        justify-content: center;
        padding-top: 35px;
        padding-left: 12px;
        ">

            <div fxLayout="row wrap" style="">
                <div style="
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            text-transform: capitalize;
            color: white;">

                    <div *ngIf="pokemon?.name.length <= 26 && pokemon?.name.length >= 24" style="font-size: 7.5px;"> {{pokemon?.name}}</div>
                    <div *ngIf="pokemon?.name.length <= 23 && pokemon?.name.length >= 21" style="font-size: 8px;"> {{pokemon?.name}}</div>
                    <div *ngIf="pokemon?.name.length <= 20 && pokemon?.name.length >= 18" style="font-size: 9px;"> {{pokemon?.name}}</div>
                    <div *ngIf="pokemon?.name.length <= 17 && pokemon?.name.length >= 15" style="font-size: 10px;"> {{pokemon?.name}}</div>
                    <div *ngIf="pokemon?.name.length <= 14 && pokemon?.name.length >= 12" style="font-size: 11px;"> {{pokemon?.name}}</div>
                    <div *ngIf="pokemon?.name.length <= 11 && pokemon?.name.length >= 9" style="font-size: 13px;"> {{pokemon?.name}}</div>
                    <div *ngIf="pokemon?.name.length <= 8 && pokemon?.name.length >= 6" style="font-size: 15px;"> {{pokemon?.name}}</div>
                    <div *ngIf="pokemon?.name.length <= 5 && pokemon?.name.length >= 3" style="font-size: 20px;"> {{pokemon?.name}}</div>
        
                    </div>
                </div>

            </div>
        </div>