<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="bg">
    <div class="pokemon-details-component-card mat-elevation-z8">
        <div fxLayout="row wrap" style="height: 100%; width: 100%; overflow: auto;">
            <div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="35%">
                <div fxLayout="row wrap" style="height: 80%; width: 100%;
                                               min-height: 400px; 
                                                background: rgba(255,255,255,1);
                                                display: flex;
                                                justify-content: center;">
                    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
                        style="justify-content: center; align-items: center;">
                        <div fxLayout="row wrap" style="display: flex;
                                height: 10%; width: 100%;
                                align-items: center;
                                justify-content: center;
                                text-transform:capitalize;
                                font-size: x-large;
                                font-weight: bolder;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                                padding-top: 10px;">
                            {{pokemon?.name}}
                        </div>
                        <div fxLayout="row wrap" style="display: flex;
                                height: 75%; width: 100%;
                                align-items: center;
                                justify-content: center">
                            <img [src]="pokemon?.sprites.other.officalArtwork.frontDefault" style="width: auto;
                                        height: inherit;
                                        max-width: auto;
                                        max-height: 300px;">
                        </div>
                        <div fxLayout="row wrap" style="display: flex;
                                                height: 15%; width: 100%;
                                                align-items: center;
                                                justify-content: space-around;
                                                text-transform:capitalize">
                            <ng-container *ngFor="let t of pokemon?.types">
                                <div fxFlex="45%" fxFlex.xs="45%" fxFlex.sm="70%">
                                    <div [class]="typeToCssClass[t.type.typeId]" style="border-radius: 13px;
                                        max-height: 20px;
                                        display: flex;
                                        justify-content: center;
                                        font-weight: bolder;
                                        font-family:Verdana, Geneva, Tahoma, sans-serif;">
                                        {{t.type.name}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" style="height: 20%;
                    width: 100%;
                    min-height: 100px;
                    background: rgba(255,0,255,1);">
                    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                        <div fxLayout="row wrap" style="height: 50%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;">
                            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" style="display: flex; 
                                justify-content: center;
                                font-size: medium;
                                font-weight: bolder;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                                padding-top: 10px;">
                                Abilities
                            </div>
                        </div>
                        <div fxLayout="row wrap" style="display: flex;
                        height: 50%; 
                        align-items: center;
                        justify-content:space-around;
                        text-transform:capitalize">
                            <ng-container *ngFor="let a of pokemon?.abilities">
                                <div fxFlex="45%" fxFlex.xs="45%" fxFlex.sm="70%" style="
                                display: flex;
                                justify-content: space-around;
                                border-radius: 13px;
                                background: rgb(175, 111, 111);"
                                >
                                    <div style="
                                    display: flex;
                                    justify-content: center;
                                    font-weight: bolder;
                                    font-family:Verdana, Geneva, Tahoma, sans-serif;">
                                    {{a.ability.name}}
                                    </div> 
                                </div>
                            </ng-container>
                        </div>
                    </div>

                </div>
            </div>
            <div fxFlex="65%" fxFlex.xs="100%" fxFlex.sm="65%">
                <div fxLayout="row wrap"
                    style="height: 35%; width: 100%;  background: rgba(0,0,255,1); display: flex; align-items: center; justify-content: center;">
                    STATS

                </div>

                <div fxLayout="row wrap"
                    style="height: 65%; width: 100%; background: rgba(255,255,0,1); display: flex; align-items: center; justify-content: center; ">
                    STATS</div>


            </div>
        </div>
    </div>









































    <!-- 
   

        <ng-container *ngIf="detailsLoading">
            <img src="assets/pokeball_gif.gif" class="_detailsLoadingPokeball">
        </ng-container>

        <ng-container *ngIf="!detailsLoading">

            <div fxLayout="row wrap" style="height: 97%" fxLayoutGap="10px grid">
                THE ONE BIGGEST ROW FOR THE WHOLE CONTAINER

                <div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="35%" class="left-most-column ">
                   LEFT 33% column (name, pic, types, abilities)

                    <div fxLayout="row wrap" class="name-picture-types-row mat-elevation-z7">
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">


                                                 <div fxLayout="row wrap" style="height: 10%" class="pokemon-name">
                                    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                                        <div>{{pokemon?.name}}</div>
                                    </div>
                                </div>
 
                                <div fxLayout="row wrap">
                                    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
                                        style="display: flex; justify-content: center; height: 100%;">
                                       <img [src]="pokemon?.sprites.other.officalArtwork.frontDefault" style=" max-width: 80%;">   
                        </div>
                    </div>

                    <div fxLayout="row wrap"
                        style="flex-flow: row wrap; box-sizing: border-box; display: flex; flex-wrap: nowrap; justify-content: space-around; height: 7.5%">
                                             <ng-container *ngFor="let t of pokemon?.types">
                                        <div fxFlex="40%" fxFlex.xs="50%" fxFlex.sm="50%" class="type">

                                            <div [class]="typeToCssClass[t.type.typeId]"
                                                style="border-radius: 9px; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-content: space-around;">
                                                {{t.type.name}}
                                            </div>
                                        </div>
                                    </ng-container>   
                    </div>

                </div>
            </div>


            <div fxLayout="row wrap" class="abilites-row mat-elevation-z7">
                <mat-card class="mat-elevation-z6" class="abilities-card">
                    <div fxLayout="row wrap">
                        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%"
                            style="display: flex; justify-content: center">
                            <div class="abilites-title"> Abilities:</div>
                        </div>
                    </div>
                    <div fxLayout="row wrap"
                        style="flex-flow: row wrap; box-sizing: border-box; display: flex; flex-wrap: nowrap; justify-content: space-around">

                        <ng-container *ngFor="let a of pokemon?.abilities">
                            <div fxFlex="40%" fxFlex.xs="50%" fxFlex.sm="50%" class="ability">
                                {{a.ability.name}}
                            </div>
                        </ng-container>

                    </div>
                </mat-card>
            </div>
    </div>
</div>
</div>



            <div fxFlex="67%" fxFlex.xs="100%" fxFlex.sm="67%">  
RIGHT 67% column (Stats, moves)

<div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="60%">

        <ng-container *ngFor="let s of pokemon?.stats">
            <div style="text-transform:capitalize">
                {{s.stat.name}}: {{s.statValue}}
            </div>
            <mat-progress-bar [value]=s.statValue*statProgressBar>
                {{s.statValue}}
            </mat-progress-bar>
        </ng-container>

    </div>

    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">


        <h3> Moves:
            <ng-container *ngFor="let m of pokemon?.moves">
                {{m.move.name}}
            </ng-container>
        </h3>



    </div>
</div>
</div>
</ng-container>

</div>


</div>


            <div (click)="onClickBackToList()">
                <button type="button" class="btn btn-success">
                    <div class="font-weight-bold mb-0">BACK TO LIST</div>
                </button>
            </div>


            <div class="col-6">
                <h3> Order: {{pokemon?.order}} </h3>-->