.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("/assets/pallet_town.png");
  background-size: cover;


}


.pokemon-details-component-card {
    max-width: auto;
    min-height: 55%;
    margin: 17px;
    background: rgba(255,255,255,0.8);
    height: 95%;
    width: 97%;
    overflow: auto
   
    
}

._detailsLoadingPokeball {
  position: relative;
  display: block;
  padding-left: 37%;
  padding-top: 11%;
  height: 45%;
}



.name-picture-types-row {

  margin: 5px;
  height: 80%;
  background: rgba(255,255,255,1);
}

.abilites-row {
  margin: 5px;
  height: 20%;
  background: rgba(255,255,255,1);
}


.pokemon-name {
 
  text-transform: capitalize; 
  text-align: center;
  font-size: x-large;
  display: flex;
  align-content: space-around;
}

.pokemon-picture {
 

  padding-top: 10px;


  
   
  }

  .picture-and-types {
    
    display: flex;
    justify-content:center;
    
  }

  .types-position {
   
    display: flex;
    justify-content: space-around;
    
  }

  

  .abilites-title {
    text-transform: capitalize; 
    text-align: center;
    font-size: large
  }

  .ability {
    background: #a8a878;
    text-transform: capitalize;
    border-radius: 9px;
    position: relative;
    display: block;
      float: left;
     padding: 4px;
      text-align: center;
      margin: 0.1em;
     
      flex-wrap: nowrap;
    
  }


  .stats-card {
   
    background: #F2F2F2;
    position: relative;
    display: block;
    float: left;
    margin: 0 .78125% 10px;
  }

  .abilities-card {
   justify-content: space-between;
  }

.type {
  text-transform: capitalize;
  position: relative;
  font-size: large;
    text-align: center;
    margin: 0.1em;
   height: 100%;
    flex-wrap: nowrap;

    align-content: space-around;
  
}

._normal-type{
  background: #a8a878;
}
._fighting-type{
  background: #c03028;
}
._flying-type{
  background: #a890f0;
}
._poison-type{
  background: #a040a0;
  color: #ffffff;
}
._ground-type{
  background: #e0c068;
}
._rock-type{
  background: #b8a038;
}
._bug-type{
  background: #a8b820;
}
._ghost-type{
  background: #705898;
  color: #ffffff;
}
._steel-type{
  background: #b8b8d0;
}
._fire-type{
  background: #f08030;
}
._water-type{
  background: #6890f0;
}
._grass-type{
  background: #78c850;
}
._electric-type{
  background: #f8d030;
}
._psychic-type{
  background: #f85888;
}
._ice-type{
  background: #98d8d8;
}
._dragon-type{
  background: #7038f8;
}
._dark-type{
  background: #705848;
  color: #ffffff;
}
._fairy-type{
  background: #f0b6bc;
}
._unknown-type{
  background: #b8b8d0;
}
._shadow-type{
  background: #705848;
  color: #ffffff;
}



