.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }

  ._list-frame {
    background: rgba(255,255,255,0.8);
    position: absolute;
    margin: 15px;
    margin-left: 32%;
    border: 3px solid black;
    height: 94%;
    width: 36%;
    min-width: 34%;
    min-height: 94%;
    
    }

  mat-action-list {
    height: 85%;
   
    width: 100%;
  
   position: relative;
    overflow-y: auto;
    min-width: 230px;
    min-height: 230px

}




  ._pokemon-name-font {
    font-size: 30px;
    color: #ffcc00;
    -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: #0067b4;
  
  }

  mat-paginator {
    min-width: 60%;
    font-size: 14px
  }

  



