._main-whiteboard-main-row {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 5px;
  padding-left: 5px;
}






  ._list-frame {
    background: rgba(255,255,255,0.9);
    border: 3px solid black;
    overflow: auto;
   min-height: 600px;
    
    }





    mat-list-item {
      max-height: 25px;
    }

 

  mat-paginator {
    min-width: 60%;
    font-size: 14px
  }

  



